---
import arrowPlaceholder from "../assets/arrow_placeholder.svg";
import facebook from "../assets/facebook.svg";
import instagram from "../assets/instagram.svg";
import linkedin from "../assets/linkedin.svg";
---

<footer>
  <div class="footer_box box1">
    <div class="logo">
      <h2>KULTURNAT</h2>
    </div>
    <p>
      Kulturnat er en årlig aften, hvor hele Helsingør fyldes med kultur, musik,
      kunst og oplevelser, mens byens museer, gallerier og kultursteder holder
      åbent med særlige arrangementer.
    </p>
  </div>
  <div class="footer_box box2">
    <h5 class="column1">KONTAKT</h5>
    <p class="column1">kulturnatten@elsinore2032.dk</p>
    <a class="column2" href="#">
      <img class="arrow" src={arrowPlaceholder.src} alt="" />
    </a>
  </div>
  <div class="footer_box box3">
    <h5 class="column1">LOKATION OG TIDSPUNKT</h5>
    <p class="column1">
      Find den nøjagtige lokation og tidspunktet i
      <a href="program">programmet</a>.
    </p>
    <a class="column2" href="program">
      <img class="arrow" src={arrowPlaceholder.src} alt="" />
    </a>
  </div>
  <div class="footer_box box4">
    <h5 class="column1">ÅBNINGSTIDER</h5>
    <p class="column1 p_bold">Tikøb</p>
    <p class="column1">19. september 2025</p>
    <p class="column1 p_bold">Espergærde & Helsingør</p>
    <p class="column1">26. september 2025</p>
    <a class="column2" href="#">
      <img class="arrow" src={arrowPlaceholder.src} alt="" />
    </a>
  </div>
  <div class="footer_box box5">
    <h5 class="column1">SOCIALE MEDIER</h5>
    <div class="column1 icon_box">
      <a href="#"><img class="icons" src={facebook.src} alt="" /></a>
      <a href="#"><img class="icons" src={instagram.src} alt="" /></a>
      <a href="#"><img class="icons" src={linkedin.src} alt="" /></a>
    </div>
    <a class="column2" href="#">
      <img class="arrow" src={arrowPlaceholder.src} alt="" />
    </a>
  </div>
</footer>

<style>
  h2,
  h5,
  p {
    color: var(--primary_text);
  }

  div {
    display: grid;
  }

  .logo {
    border: 5px solid var(--primary_text);
    width: 75px;
    height: 101%;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: -2px;
    margin-top: -2px;
    h2 {
      transform: rotate(-90deg);
      padding: 2px;
      justify-self: start;
      font-size: 40px;
      margin-left: 26px;
    }
  }

  .footer_box {
    border: 2px solid var(--primary_text);
    margin-bottom: -2px;
    width: 100%;
  }

  .box1 {
    height: 285px;
    grid-template-columns: 80px auto;
    p {
      grid-row: 1/2;
      grid-column: 2/3;
      padding: 20px 12px;
    }
  }

  .box2,
  .box3,
  .box4,
  .box5 {
    display: grid;
    grid-template-columns: auto 60px;
    padding: 20px 6px 6px 12px;
  }
  .column1 {
    grid-column: 1/2;
  }
  .column2 {
    grid-column: 2/3;
    width: 40px;
    height: 41px;
    place-self: end;
  }
  .box2,
  .box3,
  .box5 {
    height: 120px;
  }
  .box3 {
    p {
      a {
        color: var(--cta);
        text-decoration: none;
      }
      a:hover {
        color: var(--cta_hover);
      }
    }
  }
  .box4 {
    height: 180px;
  }
  .arrow {
    width: 40px;
    height: auto;
  }

  .arrow:hover {
    animation-name: arrow_hover;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    fill: var(--cta);
  }

  @keyframes arrow_hover {
    0% {
      rotate: 0;
    }
    100% {
      rotate: -90deg;
    }
  }

  .icon_box {
    display: flex;
    gap: 10px;
  }

  .icons {
    width: 35px;
    height: 35px;
  }
</style>
