---
import arrowPlaceholder from "../assets/arrow_placeholder.svg";
import facebook from "../assets/facebook.svg";
import instagram from "../assets/instagram.svg";
import linkedin from "../assets/linkedin.svg";
import logoMobilFooter from "../assets/footer-logo-mobil.svg";
---

<footer>
  <div class="footer_box box1">
    <div class="logo">
      <img class="logo-svg" src={logoMobilFooter.src} alt="Kulturnat-logo" />
    </div>
    <p>
      Kulturnat er en årlig aften, hvor hele Helsingør fyldes med kultur, musik,
      kunst og oplevelser, mens byens museer, gallerier og kultursteder holder
      åbent med særlige arrangementer.
    </p>
  </div>
  <div class="footer_box box2">
    <h5>KONTAKT</h5>
    <p>kulturnatten@elsinore2032.dk</p>
    <a href="#">
      <img class="arrow" src={arrowPlaceholder.src} alt="" />
    </a>
  </div>
  <div class="footer_box box3">
    <h5>LOKATION OG TIDSPUNKT</h5>
    <p>
      Find den nøjagtige lokation og tidspunktet i
      <a href="program">programmet</a>.
    </p>
    <a href="program">
      <img class="arrow" src={arrowPlaceholder.src} alt="" />
    </a>
  </div>
  <div class="footer_box box4">
    <h5>ÅBNINGSTIDER</h5>
    <p class="p_bold">Tikøb</p>
    <p>19. september 2025</p>
    <p class="p_bold">Espergærde & Helsingør</p>
    <p>26. september 2025</p>
    <a href="#">
      <img class="arrow" src={arrowPlaceholder.src} alt="" />
    </a>
  </div>
  <div class="footer_box box5">
    <h5>SOCIALE MEDIER</h5>
    <div class="socials-flex">
      <img src={facebook.src} alt="" />
      <img src={instagram.src} alt="" />
      <img src={linkedin.src} alt="" />
    </div>
    <a href="#">
      <img class="arrow" src={arrowPlaceholder.src} alt="" />
    </a>
  </div>
</footer>

<style>
  h2,
  h5,
  p {
    color: var(--primary_text);
  }

  footer {
    background-color: var(--secondary_bg);
  }

  .footer_box {
    border: 2px solid var(--primary_text);
    margin-bottom: -2px;
    width: 100%;
  }

  .box1 {
    height: 285px;
    overflow: hidden;
    display: flex;
    gap: 30px;
  }

  .logo-svg {
    height: 100%;
    width: auto;
  }

  .box1 p {
    margin-top: 20px;
    margin-right: 30px;
  }

  .box2,
  .box3,
  .box5,
  .box4 {
    padding: 20px 0 0 20px;
  }
  .arrow {
    width: 50px;
    height: auto;
    margin-left: auto;
    padding: 5px;
  }

  .box3 a {
    color: var(--cta);
  }

  h5 {
    margin-bottom: 7px;
  }
  .socials-flex {
    display: flex;
    gap: 10px;
  }

  .socials-flex img {
    width: 40px;
  }
</style>
